<ul class="demo__list-inline">

	<li>
		<div class="o-he-dropdown-menu" data-o-component="o-he-dropdown-menu">
		  <button id="demo-1" type="button" class="o-he-dropdown-menu__toggle" data-toggle="dropdown-menu" aria-haspopup="true" aria-expanded="false">
		    Button trigger
		    <span class="caret"></span>
		  </button>
		  <ul class="o-he-dropdown-menu__menu-items" role="menu" aria-labelledby="demo-1">
		    <li class="o-he-dropdown-menu__menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 1</a></li>
		    <li class="o-he-dropdown-menu__menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 2</a></li>
		    <li class="o-he-dropdown-menu__menu-item o-he-dropdown-menu__menu-item--disabled" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 3 (disabled)</a></li>
		    <li class="o-he-dropdown-menu__menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 4</a></li>
		  </ul>
		</div>
	</li>

	<li>
		<div class="o-he-dropdown-menu" data-o-component="o-he-dropdown-menu">
		  <a href="#" id="demo-2" class="o-he-dropdown-menu__toggle" data-toggle="dropdown-menu" aria-haspopup="true" aria-expanded="false">
		    Link trigger
		  </a>
		  <ul class="o-he-dropdown-menu__menu-items" role="menu" aria-labelledby="demo-2">
		    <li class="o-he-dropdown-menu__menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 1</a></li>
		    <li class="o-he-dropdown-menu__menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 2</a></li>
		    <li class="o-he-dropdown-menu__menu-item o-he-dropdown-menu__menu-item--disabled" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 3 (disabled)</a></li>
		    <li class="o-he-dropdown-menu__menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 4</a></li>
		  </ul>
		</div>
	</li>

	<li>
		<div class="o-he-dropdown-menu o-he-dropdown-menu--right" data-o-component="o-he-dropdown-menu">
		  <button id="demo-3" type="button" class="o-he-dropdown-menu__toggle" data-toggle="dropdown-menu" aria-haspopup="true" aria-expanded="false">
		    Right dropdown menu
		    <span class="caret"></span>
		  </button>
		  <ul class="o-he-dropdown-menu__menu-items" role="menu" aria-labelledby="demo-3">
		    <li class="o-he-dropdown-menu__menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 1</a></li>
		    <li class="o-he-dropdown-menu__menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 2</a></li>
		    <li class="o-he-dropdown-menu__menu-item o-he-dropdown-menu__menu-item--disabled" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 3 (disabled)</a></li>
		    <li class="o-he-dropdown-menu__menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 4</a></li>
		  </ul>
		</div>
	</li>

	<li>
		<div class="o-he-dropdown-menu" data-o-component="o-he-dropdown-menu">
		  <button id="demo-4" type="button" class="o-he-dropdown-menu__toggle" data-toggle="dropdown-menu" aria-haspopup="true" aria-expanded="false" disabled>
		    Disabled button
		    <span class="caret"></span>
		  </button>
		  <ul class="o-he-dropdown-menu__menu-items" role="menu" aria-labelledby="demo-4">
		    <li class="o-he-dropdown-menu__menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 1</a></li>
		    <li class="o-he-dropdown-menu__menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 2</a></li>
		    <li class="o-he-dropdown-menu__menu-item o-he-dropdown-menu__menu-item--disabled" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 3 (disabled)</a></li>
		    <li class="o-he-dropdown-menu__menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 4</a></li>
		  </ul>
		</div>
	</li>

	<li>
		<div class="o-he-dropdown-menu" data-o-component="o-he-dropdown-menu">
		  <a href="#" id="demo-5" class="o-he-dropdown-menu__toggle--disabled" data-toggle="dropdown-menu" aria-haspopup="true" aria-expanded="false">
		    Disabled link
		  </a>
		  <ul class="o-he-dropdown-menu__menu-items" role="menu" aria-labelledby="demo-5">
		    <li class="o-he-dropdown-menu__menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 1</a></li>
		    <li class="o-he-dropdown-menu__menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 2</a></li>
		    <li class="o-he-dropdown-menu__menu-item o-he-dropdown-menu__menu-item--disabled" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 3 (disabled)</a></li>
		    <li class="o-he-dropdown-menu__menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 4</a></li>
		  </ul>
		</div>
	</li>

</ul>
